# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
local_settings.py

# Environment
.env

# IDE
.idea/
.vscode/
